*.aux
*.bbl
*.blg
*~*
*.dvi
*.log
*.lot
*.pdf
*.ps
*.toc
# *.txt
*.out
*.snm
*.nav
*.synctex.gz*
knitr-cache
.RData
.RHistory

myNotes.*
outputs/diagnostics
outputs/simData
.Rproj.user
scripts/lm-t-skew.rds
scripts/lm-t.rds
scripts/lm.rds
*.html
scripts/*cache*
*.png
scripts/sync.rds
*.o
*.so

# Private data
#data/simRunInputs/
#data/sox/