*.aux
*.bbl
*.blg
*~*
*.dvi
*.log
*.lot
*.pdf
*.ps
*.toc
# *.txt
*.out
*.snm
*.nav
*.synctex.gz*
knitr-cache
.RData
.RHistory
*.jpg

myNotes.*
markdownReports/
outputs/diagnostics
outputs/simData
outputs/generatedData/synchTS
data/mainSimRun
data/sensitivitySimRun
.Rproj.user
scripts/lm-t-skew.rds
scripts/lm-t.rds
scripts/lm.rds
*.html
scripts/*cache*
#*.png
scripts/sync.rds
*.o
*.so
*.dll

